In [1]:
import os
import pandas as pd
from calendar import monthrange
from datetime import datetime, timedelta

# Azure ML Packages
import azureml.core
from azureml.core import Dataset, Datastore, Workspace, Run
from azureml.opendatasets import NoaaIsdWeather

In [ ]:
ws = Workspace.from_config()
print(ws.name, ws.resource_group, ws.location, ws.subscription_id, sep='\n')
print(azureml.data.__version__)

In [ ]:
# weatherds = Datastore(ws,"update_weatherstore")
# weatherdataset = 'weather-florida'

# target_years = [2019]

# for year in target_years:
#     for month in range(1, 12+1):
#         path = 'data/{}/{:02d}/'.format(year, month)
        
#         try:  
#             start = datetime(year, month, 1)
#             end   = datetime(year, month, monthrange(year, month)[1]) + timedelta(days=1)
#             isd   = NoaaIsdWeather(start, end).to_pandas_dataframe()
#             isd   = isd[isd['stationName'].str.contains('FLORIDA', regex=True, na=False)]
            
#             os.makedirs(path, exist_ok=True)
#             isd.to_parquet(path + 'data.parquet')
#         except Exception as e:
#             print('Month {} in year {} likely has no data.\n'.format(month, year))
#             print('Exception: {}'.format(e))

# weatherds.upload('data', weatherdataset, overwrite=True, show_progress=True)

In [11]:
weatherds = Datastore(ws,"weatherstore")
weatherdataset = 'weather-florida'

datastore_path = [(weatherds, weatherdataset + '/*/*/data.parquet')]
weatherdf = Dataset.Tabular.from_parquet_files(path=datastore_path, partition_format = weatherdataset + '/{coarse_time:yyyy/MM}/data.parquet').to_pandas_dataframe()

In [12]:
print(weatherdf.shape)
weatherdf.head()

(46393, 24)

,usaf,wban,datetime,latitude,longitude,elevation,windAngle,windSpeed,temperature,seaLvlPressure,...,precipDepth,snowDepth,stationName,countryOrRegion,p_k,year,day,version,__index_level_0__,coarse_time
0,013170,99999,2019-01-25 02:00:00,60.383,5.333,36.0,160.0,5.0,1.5,1009.7,...,1.0,NaN,BERGEN/FLORIDA,NO,013170-99999,2019,25,1.0,365439,2019-01-01
1,013170,99999,2019-01-27 05:00:00,60.383,5.333,36.0,70.0,6.0,1.4,988.2,...,0.0,NaN,BERGEN/FLORIDA,NO,013170-99999,2019,27,1.0,365473,2019-01-01
2,013170,99999,2019-01-12 20:00:00,60.383,5.333,36.0,150.0,1.0,3.9,997.7,...,0.0,NaN,BERGEN/FLORIDA,NO,013170-99999,2019,12,1.0,365503,2019-01-01
3,013170,99999,2019-01-19 15:00:00,60.383,5.333,36.0,160.0,1.0,1.2,1013.8,...,7.0,NaN,BERGEN/FLORIDA,NO,013170-99999,2019,19,1.0,365536,2019-01-01
4,013170,99999,2019-01-02 20:00:00,60.383,5.333,36.0,130.0,1.0,0.8,1038.7,...,0.0,NaN,BERGEN/FLORIDA,NO,013170-99999,2019,2,1.0,365560,2019-01-01

In [13]:
weather_df = ws.datasets['florida_weather'].to_pandas_dataframe()
print(weather_df.shape)
weather_df.head()

(46393, 24)

,usaf,wban,datetime,latitude,longitude,elevation,windAngle,windSpeed,temperature,seaLvlPressure,...,precipDepth,snowDepth,stationName,countryOrRegion,p_k,year,day,version,__index_level_0__,coarse_time
0,013170,99999,2019-01-25 02:00:00,60.383,5.333,36.0,160.0,5.0,1.5,1009.7,...,1.0,NaN,BERGEN/FLORIDA,NO,013170-99999,2019,25,1.0,365439,2019-01-01
1,013170,99999,2019-01-27 05:00:00,60.383,5.333,36.0,70.0,6.0,1.4,988.2,...,0.0,NaN,BERGEN/FLORIDA,NO,013170-99999,2019,27,1.0,365473,2019-01-01
2,013170,99999,2019-01-12 20:00:00,60.383,5.333,36.0,150.0,1.0,3.9,997.7,...,0.0,NaN,BERGEN/FLORIDA,NO,013170-99999,2019,12,1.0,365503,2019-01-01
3,013170,99999,2019-01-19 15:00:00,60.383,5.333,36.0,160.0,1.0,1.2,1013.8,...,7.0,NaN,BERGEN/FLORIDA,NO,013170-99999,2019,19,1.0,365536,2019-01-01
4,013170,99999,2019-01-02 20:00:00,60.383,5.333,36.0,130.0,1.0,0.8,1038.7,...,0.0,NaN,BERGEN/FLORIDA,NO,013170-99999,2019,2,1.0,365560,2019-01-01

# Additional Resources

- Machine Learning for Beginners: https://github.com/microsoft/ML-For-Beginners
- Data Science for Begineers: https://github.com/microsoft/Data-Science-For-Beginners
- Azure Machine Learning Sample Notebooks: https://github.com/Azure/MachineLearningNotebooks/